@use "global" as *;

.c-new-label {
    position: relative;
}

.c-new-label::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: rem(-16);
    left: rem(-16);
    width: rem(60);
    height: rem(60);
    background-color: #FFBA6A;
    border-radius: 50%;
}

.c-new-label span {
    position: absolute;
    z-index: 2;
    top: rem(1);
    left: rem(-4);
    font-size: rem(16);
    font-weight: $regular;
    color: $black-sub;
    text-transform: capitalize;
    letter-spacing: rem(2);
}