@use "global" as *;

.wp-pagenavi {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  // margin-top: rem(104);
  transition: 0.3s;
  max-width: 335px;
  margin: 0 auto;

  @include mq(md) {
    max-width: unset;
  }

  .page {
    padding-left: rem(7);
    padding-right: rem(7);
    display: inline-block;
  }

  .extend {
    padding-left: rem(13);
    padding-right: rem(13);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page,
  .extend,
  .nextpostslink,
  .previouspostslink,
  .nextlink {
    border: solid 1px $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: rem(16);
    text-align: center;
    justify-content: center;
    color: $white;
  }
  
  .previouspostslink,
  .nextpostslink,
  .nextlink {
    padding-left: rem(13);
    padding-right: rem(13);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current {
    color: $black;
    background-color: $white;
    // height: rem(24);
    // width: rem(24);
    padding-left: rem(7);
    padding-right: rem(7);
    text-align: center;
    padding: 0;
  }

  .page,
  .current,
  .extend,
  .nextpostslink,
  .nextlink {
    margin-left: rem(24);
  }
}

.wp-pagenavi a {
  transition: 0.3s;
}
.wp-pagenavi a:hover {
  color: $black;
  background-color: $white;
  opacity: unset;
  border: $white 1px solid;
}
