@use "global" as *;

.c-to-top__allow {
  width: rem(24);
  height: rem(24);
  border-style: solid;
  border-width: rem(2);
  border-color: transparent transparent $black-sub $black-sub;
  transform: rotate(135deg);
  display: inline-block;
}

.c-to-top {
  z-index: 999;
  position: fixed;
  bottom: rem(39);
  right: rem(20);
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(45);
  height: rem(45);
  visibility: hidden;
  padding-top: rem(20);

  @include mq(md) {
    right: rem(29);
    bottom: rem(45);
  }
}

.c-to-top__scroll {
  visibility: visible;
}
