@use "global" as *;

.p-blog__inner {
    max-width: rem(600);
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(20);
    @include mq(md) {
        max-width: rem(1140);
        width: 100%;
        margin: 0 auto;
    }
}

.p-blog__cards {
    grid-row-gap: rem(24);
    margin-bottom: rem(24);
    @include mq(md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: rem(25);
        margin-bottom: rem(48);
    }
}

.blog__button {
    text-align: center;
}