@use "global"as *;

.p-contact-form {
    @include mq(md) {
        width: 700px;
        margin: 0 auto;
        text-align: right;
    }
}

.p-contact-form__text-block {
    @include mq(md) {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
    }
}

.p-contact-form__text-block:not(:first-child) {
    margin-top: rem(32);
}

.p-contact-form input[type="text"],
.p-contact-form input[type="email"] {
    padding: 8px 10px;
    background-color: #fff;
    color: #000;
    width: 100%;
    font-size: rem(14);
    letter-spacing: rem(.7);
    color: #979797;

    @include mq(md) {
        max-width: rem(540);
    }
}

.p-contact-form label {
    font-size: rem(14);
    letter-spacing: rem(.7);
    @include mq(md) {
        margin-right: rem(24);
    }
}

.p-contact-form input,
.p-contact-form textarea {
    margin-top: rem(16);
}

.p-contact-form textarea {
    padding: 8px 10px;
    background-color: #fff;
    color: #000;
    width: 100%;
    font-size: rem(14);
    letter-spacing: rem(.7);
    height: 250px;

    @include mq(md) {
        max-width: rem(540);
    }
}

.p-contact-form__btn-block {
    margin-top: rem(48);

    @include mq(md) {
        margin-top: rem(56);
        text-align: center;
    }
}