@use "global"as *;

.p-footer-nav__lists {
    @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

.p-footer-nav__list:not(:last-child) {
    @include mq(md) {
        margin-right: rem(34.4);
    }
}

.p-footer-nav__list a {
    display: inline-block;
    padding: rem(3.4) 0;
    font-size: rem(16);
    letter-spacing: rem(1.2);
    color: $white;
    @include mq(md) {
        text-decoration: underline transparent;
        text-underline-offset: rem(9);
        transition: .5s all;
    }
}

.p-footer-nav__list a:hover {
    @include mq(md) {
        text-decoration: underline #FFEA2E;
        text-underline-offset: rem(9);
    }
}