@use "global"as *;

.p-footer__contents {
    text-align: center;
    @include mq(md) {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

.p-footer__logo a {
    display: inline-block;
    max-width: rem(70);
    width: 100%;

    @include mq(md) {
        display: flex;
        align-items: center;
        height: rem(39);
    }
}