@use "global" as *;

.p-pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-pc-nav__items {
  display: flex;
  align-items: center;
  height: inherit;
}
.p-pc-nav__item {
  height: inherit;
  width: rem(101);
  font-size: rem(16);
}

.p-pc-nav__item a {
  padding: 0 rem(16);
  color: $white;
  height: inherit;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  letter-spacing: rem(1);
  font-size: rem(16);
  width: 100%;
}

.p-pc-nav__item a:hover::after {
  position: absolute;
  width: 100%;
  height: rem(1);
  content: "";
  bottom: rem(8);
  display: block;
  background-color: $yellow2;
  left: 50%;
  transform: translateX(-50%);
}

.p-pc-nav__item--white {
  width: rem(171);
  background: $white;
  box-sizing: content-box;
}

.p-pc-nav__item--white a {
  padding: 0 rem(32);
  color: $black;
  transition: 0.3s all ease-in;
  width: 100%;
}

.p-pc-nav__item--white a:hover {
  position: relative;
  background: $black-sub;
  color: $white;
}

.p-pc-nav__item--white a:hover::after {
  content: unset;
}
