@use "global" as *;

.p-lower-mv {
  position: relative;
  width: 100%;
  height: calc(425 / 375) * 100vw;
  max-height: rem(375 * 2);

  @include mq(md) {
    height: calc(370 / 1280) * 100vw;
    max-height: rem(370 * 2);
  }
}

.p-lower-mv__title {
  font-size: rem(30);
  color: $white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(md) {
    font-size: rem(35);
  }
}

.p-lower-mv--news {
  background: center / cover no-repeat url("../../../images/news/news-mv.jpg");
}
.p-lower-mv--content {
  // background: center / cover no-repeat url("../../../images/content/content-mv.jpg");
  background-image: url(../../../images/content/content-mv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-lower-mv--works {
  background-image: url(../../../images/works/works1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-lower-mv--overview {
  background: center / cover no-repeat
    url("../../../images/overview/overview1.jpg");
}
.p-lower-mv--blog {
  background: center / cover no-repeat
    url("../../../images/blog/blog-mv.jpg");
}
