@use "global" as *;
.p-top-content__line {
  // left: rem(175);
  // top: rem(49);
  transform: rotate(241.09deg);
  top: 75%;
  left: -55%;
  width: 200vw;

  @include mq(md) {
    // left:36%;
    // transform: rotate(135.09deg);
    transform: rotate(45deg);
    left: -17%;
    top: 85%;
    width: 100vw;
  }
}

.p-top-content__inner {
  position: relative;
}

.p-top-content__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(50);
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include mq(md) {
    margin-top: rem(37);
  }
}

.p-top-content__item {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  cursor: pointer;
  position: relative;
  animation: all 0.3 ease;

  @include mq(md) {
    width: 25%;
    height: auto;
  }
}
.p-top-content__item:hover::after {
  background: rgba(255, 255, 255, 0.4);
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.p-top-content__item p {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: rem(20);
  width: 100%;
  color: $white;

  @include mq(md) {
    font-size: rem(25);
  }
}

.p-top-content__item img {
  height: auto;
}
// .p-top-content__section-sub-title {
//   @include mq(md) {
//     top: rem(11);
//   }
// }

// .p-top-content__section-title {
//   @include mq(md) {
//     text-align: left;
//   }
// }
