@use "global"as *;

.p-top-works__title {
  position: relative;
}


.p-top-works__swiper {
  @include mq(md) {
    max-width: rem(557);
    width: 100%;
    margin-right: rem(32);
  }
}

.p-top-works__text {
  margin-top: rem(20);

  @include mq(md) {
    font-size: rem(16);
    letter-spacing: rem(0.5);
    line-height: 2.18;
    margin-top: rem(40);
  }
}

.p-top-works__btn {
  margin-top: rem(21);
  text-align: center;

  @include mq(md) {
    margin-top: rem(49);
    text-align: left;
  }
}

.p-top-works__small-title {
  @include mq(md) {
    text-align: left;
    letter-spacing: rem(0.5);
    font-size: rem(25);
  }
}

.p-top-works__small-title {
  font-size: rem(20);
  color: $white;
  padding-top: rem(24);
  text-align: center;
  font-weight: normal;
}

.p-top-works__normal-text {
  margin-top: rem(24);
  text-align: justify;
}


// =============================
// == ハルキ追加
.p-top-works__inner {
  width: 100%;
  margin: 0 auto;
}

.p-top-works__section-header {
  margin-bottom: rem(47);
  text-align: center;

  @include mq(md) {
    max-width: rem(1100);
    width: 100%;
    margin: 0 auto;
    margin-bottom: rem(32);
  }
}

.p-top-works__content {
  background: #333;
  position: relative;
  z-index: 1;

  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(82) 0 rem(58) rem(25);
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
  }
}


.p-top-works__body {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  color: $white;
  padding: 0 rem(20) rem(21);

  @include mq(md) {
    max-width: rem(530);
    width: 100%;
    margin: 0;
    padding: 0 rem(20) rem(27) 0;
    text-align: left;
  }
}

.p-top-works__title {
  font-size: rem(20);
  text-align: center;
  font-weight: $regular;
  letter-spacing: rem(2);
  padding-left: rem(7);
  margin-bottom: rem(24);

  @include mq(md) {
    margin-bottom: rem(35);
    padding-left: 0;
    font-size: rem(25);
    letter-spacing: rem(0.5);
    text-align: left;
  }
}

.p-top-works__text {
  font-weight: $regular;
  letter-spacing: rem(2);
  line-height: 1.44;

  @include mq(md) {
    letter-spacing: rem(0.5);
    line-height: 2.1875;
  }
}

.p-top-works__slide-img {
  position: relative;
  overflow: hidden;
  padding-top: 69.9%;
}

.p-top-works__slide-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.p-top-works__swiper {
  @include mq(md) {
    max-width: rem(557);
    width: 100%;
    margin-right: rem(32);
  }
}

.p-top-works .swiper-pagination {
  position: static;
}

.p-top-works .swiper-pagination-bullet {
  position: relative;
  top: rem(-3);
  background-color: #C4C4C4;

  @include mq(md) {
    top: rem(6);
    left: rem(-20);
  }
}

//ページネーションのアクティブ用カラー
.p-top-works .swiper-pagination-bullet-active {
  background: $yellow;
}

// スライドのページネーション用マージン　既存のスタイルの優先度が高いためimportantを使用
.p-top-works .swiper-pagination-bullet {
  margin: 0 rem(5.5) !important;
}