@use "global" as *;

.p-top-section-title__block {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);

  @include mq(md) {
    transform: unset;
    left: unset;
    top: unset;
  }
}

.p-top-section-title__block--top-content {
  @include mq(md) {
    top: rem(-47);
    left: 0;
  }
}
.p-top-section-title__block--top-works {
  @include mq(md) {
    right: 0;
    top: rem(-33);
  }
}
.p-top-section-title__block--contact {
  @include mq(md) {
    left: 0;
    top: rem(-93);
  }
}
