@use "global" as *;




.p-top-section-title__block{
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);

    @include mq(md) {
        left:0;
        transform: unset;
    }
}

.p-top-section-title__block--contact {
    @include mq(md) {
        top: rem(-87);
    }
}
