@use "global"as *;

.p-works-detail__title {
    font-size: rem(20);
    letter-spacing: rem(.4);
    line-height: 1.75;
    font-weight: $regular;
}

.p-works-detail__category {
    max-width: rem(130);
    width: 100%;
    height: rem(40);
    border: 1px solid $white;
}

.p-works-detail-category {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    letter-spacing: rem(2);
}

.p-works-detail .swiper-button-next,
.p-works-detail .swiper-button-prev {
    background-color: $black;
    width: rem(30);
    height: rem(30);
    border-radius: rem(30);
    @include mq(md) {
        width: rem(50);
        height: rem(50);
        border-radius: rem(50);
    }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    display: inline-block;
    width: rem(7.8);
    height: rem(14.2);
    background: url(../images/works/arrow-right.svg) no-repeat center;
    background-size: contain;
    @include mq(md) {
        width: rem(13);
        height: rem(27);
     }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
    display: inline-block;
    width: rem(7.8);
    height: rem(14.2);
    background: url(../images/works/arrow-left.svg) no-repeat center;
    background-size: contain;
    @include mq(md) {
       width: rem(13);
       height: rem(27);
    }
}

.p-works-detail__gallery {
    max-width: rem(600);
    width: 100%;
    margin: 0 auto;
    @include mq(md) {
        max-width: rem(800);
    }
}

.p-works-detail__slider {
    width: 100%;
    height: auto;
    margin: 0 0 rem(32) 0;
    @include mq(md) {
        margin-bottom: rem(40);
    }
}

.p-works-detail__thumbnails {
    width: 100%;
}

.p-works-detail__slide-thumbnail.swiper-slide-active {
    opacity: 1;
}

.p-works-detail__slide {
    position: relative;
    overflow: hidden;
}

.p-works-detail__slide::before {
    content: "";
    display: block;
    padding-top: 66.934%;
    @include mq(md) {
        padding-top: 53.442%;
    }
}

.p-works-detail__slide img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.p-works-detail__slide-thumbnail {
    position: relative;
    overflow: hidden;
    max-width: rem(163);
    width: 100%;
    opacity: .1;
    @include mq(md) {
        max-width: rem(93);
    }
}

.p-works-detail__slide-thumbnail::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.p-works-detail__slide-thumbnail img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.p-works-detail__text-block {
    position: relative;
    padding: 56px 10px 33px;
    border: solid 1px $white;
}


.p-works-detail__sub-title {
    position: absolute;
    top: -24px;
    left: 24px;
    display: inline-block;
    padding: rem(7) rem(23);
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: rem(.4);
    background-color: $black;
    border: solid 1px $white;
    border-radius: rem(50);
}

.p-works-detail__text {
    line-height: 1.75;
    letter-spacing: rem(.4);
}