@use "global"as *;

.p-works-detail__title {
    font-size: rem(20);
    letter-spacing: rem(.4);
    line-height: 1.75;
    font-weight: $regular;

}

.p-works-detail__category {
    max-width: rem(130);
    width: 100%;
    height: rem(40);
    border: 1px solid $white;
}

.p-works-detail-category {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    letter-spacing: rem(2);
}

.p-works-detail__sub-title {
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: rem(.4);
}

.p-works-detail__text {
    line-height: 1.75;
    letter-spacing: rem(.4);
}



.p-works-detail .swiper-button-next,
.p-works-detail .swiper-button-prev {
    background-color: #111;
    width: rem(30);
    height: rem(30);
    border-radius: 30px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    display: inline-block;
    width: rem(7.8);
    height: rem(14.2);
    background: url(../images/works/arrow-right.svg) no-repeat center;
    background-size: contain;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
    display: inline-block;
    width: rem(7.8);
    height: rem(14.2);
    background: url(../images/works/arrow-left.svg) no-repeat center;
    background-size: contain;
}

// サンプルコード

.gallery {
    width: 100%;
    max-width: 620px;
    @include mq(md) {
        max-width: rem(800);
        margin: 0 auto;
    }
}

.gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 32px 0;
}

// .gallery-slider .swiper-slide img {
//     display: block;
//     width: auto;
//     height: 100%;
//     margin: 0 auto;
// }

.gallery-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

// .gallery-thumbs .swiper-slide {
//     width: 100px;
//     height: 100px;
//     text-align: center;
//     overflow: hidden;
//     opacity: .1;
// }

.gallery-thumbs .swiper-slide-active,
.gallery-thumbs--pc .swiper-slide-active {
    opacity: 1;
}

// .gallery-thumbs .swiper-slide img {
//     width: auto;
//     height: 100%;
// }

.p-works-detail__slide {
    position: relative;
    overflow: hidden;
}

.p-works-detail__slide::before {
    content: "";
    display: block;
    padding-top: 66.934%;
    @include mq(md) {
        padding-top: 53.442%;
    }
}

.p-works-detail__slide img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.p-works-detail__slide-thumbs {
    position: relative;
    overflow: hidden;
    max-width: rem(163);
    width: 100%;
    opacity: .1;
    margin: 0 24px 0 0;
    @include mq(md) {
        max-width: rem(93);
    }
}

.p-works-detail__slide-thumbs:not(:last-child) {
    @include mq(md) {
        margin-right: 8px;
    }
}

.p-works-detail__slide-thumbs::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.p-works-detail__slide-thumbs img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}