<main class="p-404">
  <div class="l-inner">
    <h1 class="p-404__title">404 Not Found</h1>
    <p class="p-404__text">
      お探しのページは<br class="u-mobile"/>見つかりませんでした。
    </p>
    <div class="p-404__btn">
            <%- include('../component/_c-btn',{text:'TOPへ', link:'#',
            backcolor:'black'}) %>
    </div>
  </div>
</main>
