<div class="p-top-blog">
    <div class="p-top-blog__inner">
        <div class="p-top-blog__header">
            <div class="p-top-blog__title">
                <%- include('../component/_c-section-header__title',{text:'ブログ'}) %>
            </div>
            <div class="p-top-blog__sub-title">
                <%- include('../component/_c-section-header__sub-title',{text:'blog'}) %>
            </div>
        </div>
    </div>
    <%- include('../project/_p-cards') %>
</div>