<div class="p-cards <%= modifier %>">
    <% for (let i = 0; i < max; i++) { %>
        <article>
            <%- include('../project/_p-card',{num: i,path: path}) %>
        </article>
    <% } %>
</div>