<div class="p-contact">
    <div class="p-contact__inner l-inner">
        <div class="p-contact__header">
            <div class="p-contact__title">
                <%- include('../component/_c-section-header__title',{text:'お問い合わせ'}) %>
            </div>
            <div class="p-top-section-title__block p-top-section-title__block--contact">
                <%- include('../component/_c-section-header__sub-title',{text:'contact'}) %>
            </div>
        </div>
    
        <div class="p-contact__text-block">
            <p class="p-contact__text">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </p>
        </div>
    
        <div class="p-contact__btn">
            <%- include('../component/_c-btn',{text:'お問い合わせへ', link:'#', backcolor:'black'}) %>
        </div>
    </div>
</div>