<div class="p-contact-complete">
    <div class="p-contact-complete__inner l-inner">
        <div class="p-contact-complete__title-block">
            <h1 class="p-contact-complete__title">お問い合わせ完了</h1>
        </div>
        <div class="p-contact-complete__text-block">
            <p class="p-contact-complete__text">3営業日以内に<br class="u-mobile"/>返信させて頂きます。</p>
        </div>
        <div class="p-contact-complete__btn">
            <%- include('../component/_c-btn',{text:'topへ', link:'/', backcolor:'black'}) %>
        </div>
    </div>
</div>