<div class="p-connection-blog">
  <div class="p-connection-blog__title">関連記事</div>
  <div class="p-connection-blog__cards">
    <%- include('../project/_p-cards',{max: '4', modifier:'p-cards--col-4',path:
    'blog'}) %>
  </div>
</div>
