<div class="p-detail-head">
    <div class="p-detail-head__inner">
        <div class="p-detail-head__title-block">
            <h1 class="p-detail-head__title"><%= text %></h1>
        </div>
        <div class="p-detail-head__info-block">
            <div class="p-detail-head__time">
                <time datetime="2020-06-13">2020.06.13</time>
            </div>
            <a href="" class="p-detail-head__category">カテゴリ1</a>
        </div>
    </div>
</div>