<!-- p-footer__nav　エレメント p-footer-nav ブロック -->

<nav class="p-footer__nav p-footer-nav">
    <ul class="p-footer-nav__lists">
      <li class="p-footer-nav__list u-mobile">
        <a href="/">トップ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="news.html">お知らせ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="content.html">事業内容</a>
      </li>
      <li class="p-footer-nav__list u-desktop">
        <a href="works.html">制作実績</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="overview.html">企業概要</a>
      </li>
      <li class="p-footer-nav__list u-desktop">
        <a href="#">自社メディア</a>
      </li>
      <li class="p-footer-nav__list u-mobile">
        <a href="blog.html">ブログ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="contact.html">お問い合わせ</a>
      </li>
      
    </ul>
  </nav>