<!-- p-footer__nav　エレメント p-footer-nav ブロック -->

<nav class="p-footer__nav p-footer-nav">
    <ul class="p-footer-nav__lists">
      <li class="p-footer-nav__list u-mobile">
        <a href="#">トップ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="#">お知らせ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="#">事業内容</a>
      </li>
      <li class="p-footer-nav__list u-desktop">
        <a href="#">制作実績</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="#">企業概要</a>
      </li>
      <li class="p-footer-nav__list u-desktop">
        <a href="#">自社メディア</a>
      </li>
      <li class="p-footer-nav__list u-mobile">
        <a href="#">ブログ</a>
      </li>
      <li class="p-footer-nav__list">
        <a href="#">お問い合わせ</a>
      </li>
      
    </ul>
  </nav>