<section class="top-mv">
  <div class="top-mv__slide-img">
    <% for (var i=1; i < 4; i++) { %>
    <figure class="top-mv__img filter">
        <img src="./images/top/top-mv<%= i %>.jpg" alt="メインビジュアル画像<%= i %>枚目">
    </figure>
    <% } %>
  </div>
  <div class="top-mv__inner">
    <h2 class="top-mv-title">メインタイトルが入ります</h2>
    <span class="top-mv-sub-title">サブタイトルが入ります</span>
  </div>
</section>



    