<div class="p-top-news l-inner-md">
  <div class="p-top-news__inner">
    <time datetime="2021-07-20">2020.07.20</time>
    <div class="p-top-news__category">
      <%- include('../component/_c-category',{text:'お知らせ', link:'#',
      backcolor:'black'}) %>
    </div>
  </div>
  <p class="p-top-news__text">
    <a href="#"> 記事タイトルが入ります。 記事タイトルが入ります。 </a>
  </p>
  <div class="p-top-news__btn u-mobile">
    <%- include('../component/_c-btn',{text:'すべて見る', link:'news.html',
    backcolor:'black'}) %>
  </div>
  <div class="p-top-news__btn u-desktop">
    <%- include('../component/_c-btn',{text:'すべて見る', link:'news.html',
    backcolor:'white'}) %>
  </div>
</div>
