<div class="p-top-contact">
    <div class="p-top-contact__inner l-inner">
        <div class="p-top-contact__header">
            <div class="p-top-contact__title">
                <%- include('../component/_c-section-title',{japaneseTitle:'お問い合わせ',englishTitle:'contact',position:'contact'}) %>
            </div>
        </div>
    
        <div class="p-top-contact__text-block">
            <p class="p-top-contact__text">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </p>
        </div>
    
        <div class="p-top-contact__btn">
            <%- include('../component/_c-btn',{text:'お問い合わせへ', link:'contact.html', backcolor:'black'}) %>
        </div>
    </div>
</div>