<div class="p-top-content">
  <div class="p-top-content__line"><%- include('../component/_c-line') %></div>
  <div class="p-top-content__inner l-inner">
    <div class="p-top-content__title">
      <%- include('../component/_c-section-header__title',{text:'事業概要'}) %>
      <div
        class="p-top-section-title__block p-top-section-title__block--top-content"
      >
        <%-
        include('../component/_c-section-header__sub-title',{text:'content'}) %>
      </div>
    </div>
    <div class="p-top-content__items">
      <a class="p-top-content__item u-filter"
        ><img src="images/content/content1.jpg" alt="" />
        <p>経営理念ページへ</p></a
      >
      <a class="p-top-content__item u-filter"
        ><img src="images/content/content2.jpg" alt="" />
        <p>理念1へ</p></a
      >
      <a class="p-top-content__item u-filter"
        ><img src="images/content/content3.jpg" alt="" />
        <p>理念2へ</p></a
      >
      <a class="p-top-content__item u-filter"
        ><img src="images/content/content4.jpg " alt="" />
        <p>理念3へ</p></a
      >
    </div>
  </div>
</div>
