<div class="p-top-blog">
    <div class="p-top-blog__inner">
        <div class="p-top-blog__header">
            <div class="p-top-blog__title">
                <%- include('../component/_c-section-header__title',{text:'ブログ'}) %>
            </div>
            <div class="p-top-blog__sub-title">
                <%- include('../component/_c-section-header__sub-title',{text:'blog'}) %>
            </div>
        </div>
        <div class="p-top-blog__cards">
            <%- include('../project/_p-cards',{pageTitle:'top', modifier:'p-cards--top'}) %>
        </div>
        <div class="p-top-blog__btn">
            <%- include('../component/_c-btn',{text:'詳しく見る', link:'#', backcolor:'black'}) %>
        </div>
    </div>
</div>