<div class="p-works-detail">
    <div class="l-inner">
        <h1 class="p-works-detail__title">〇〇株式会社&emsp;制作実績</h1>
        <time datetime="2020-06-13">2020.06.13</time>

        <div class="p-works-detail__category">
            <a href="" class="p-works-detail-category">カテゴリ1</a>
        </div>
    </div>

    <!-- サンプル -->
    <div class="p-works-detail__gallery js-mv u-mobile">

        <div class="swiper p-works-detail__slider js-works-detail-slide">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide"><img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt=""></div>
                <% } %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="swiper p-works-detail__thumbnails js-works-detail-thumbnail">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide-thumbnail">
                    <img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt="">
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="p-works-detail__gallery u-desktop">
        <div class="swiper p-works-detail__slider js-works-detail-slide-pc">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide"><img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt=""></div>
                <% } %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="swiper p-works-detail__thumbnails js-works-detail-thumbnail-pc">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide-thumbnail">
                    <img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt="">
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- サンプル -->




    <div class="p-works-detail__contents-inner l-inner">
        <div class="p-works-detail__text-block">
            <div class="p-works-detail__head">
                <h2 class="p-works-detail__sub-title">制作のポイント</h2>
            </div>
            <div class="p-works-detail__body">
                <p class="p-works-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
        </div>

        <div class="p-works-detail__text-block">
            <div class="p-works-detail__head">
                <h2 class="p-works-detail__sub-title">デザインのポイント</h2>
            </div>
            <div class="p-works-detail__body">
                <p class="p-works-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
        </div>

        <div class="p-works-detail__text-block">
            <div class="p-works-detail__head">
                <h2 class="p-works-detail__sub-title">その他</h2>
            </div>
            <div class="p-works-detail__body">
                <p class="p-works-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
        </div>

        <div class="wp-pagenavi">
            <a class="previouspostslink" rel="prev" href="/example.com/blogs/">prev</a>
            <a class="page larger" title="制作実績一覧へ" href="works.html">一覧</a>
            <a class="nextpostslink" rel="next" href="/example.com/blogs/page/3/">next</a>
        </div>

    </div>
</div>

</div>