<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発：404エラー'}) %>
  <body>
    <%- include('./common/_p-header') %>
    <div class="l-404 js-mv">
      <%- include('./project/_p-404') %>
  </div>

    <%- include('./common/_p-footer') %>
  </body>
</html>

    