@use "global" as *;

.l-breadcrumb {
  margin-top: rem(15);
  margin: 0 auto;
  max-width: rem(540);
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  @include mq(md) {
    max-width: $l-inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.l-breadcrumb--blog-detail{
  margin-top: rem(66);
}
