<%# blackの場合は背景が黒、文字色が白 %> <% if( backcolor == 'black' ) { %>
<span class="c-category c-category--black"
  ><a href="<%= link %>">お知らせ</a></span>

<%# whiteの場合は背景が黄色、文字色が黒 %> <% } else if(backcolor == 'yellow') {
%>
<span class="c-category c-category--yellow"
  ><a href="<%= link %>">お知らせ</a></span>
<% } %>
