<div class="wp-pagenavi">
    <a class="previouspostslink" rel="prev" href="/example.com/blogs/"
      >prev</a
    >
    <span class="current">1</span>
    <a class="page smaller" title="Page 2" href="/example.com/blogs/"
      >2</a
    >
    <a
      class="page larger"
      title="Page 3"
      href="/example.com/blogs/page/3/"
      >3</a
    >
    <a
      class="page larger"
      title="Page 4"
      href="/example.com/blogs/page/4/"
      >4</a
    >
    <a class="nextpostslink" rel="next" href="/example.com/blogs/page/3/"
      >next</a
    >
  </div>