<div class="c-section-title">
    <h2 class="c-section-title__japanese"><%= japaneseTitle %></h2>
    <p class="c-section-title__english c-section-title__english--<%= position %>"><%= englishTitle %></p>
</div>