<div class="c-tab">
    <ul class="c-tab__items">
      <li class="c-tab__item c-tab__current uppercase"><a href="">all</a></li>
      <li class="c-tab__item"><a href="">カテゴリー1</a></li>
      <li class="c-tab__item"><a href="">カテゴリカテゴリ</a></li>
      <li class="c-tab__item"><a href="">カテ</a></li>
    </ul>
  </div>