<div class="tab">
    <ul class="tab__items">
      <li class="tab__item tab__current uppercase"><a href="">all</a></li>
      <li class="tab__item"><a href="">カテゴリー1</a></li>
      <li class="tab__item"><a href="">カテゴリカテゴリ</a></li>
      <li class="tab__item"><a href="">カテ</a></li>
    </ul>
  </div>